@model Mysitemvc.Models.Usermodel
<link rel="stylesheet" href="~/css/site.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h4>Please enter your info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Confirm Password</label>
                <input name="ConfirmPassword" type="password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Log-in</a>
</div>

<script>
  
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('.needs-validation');

        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

         
            var password = document.getElementById('Password').value;
            var confirmPassword = document.getElementsByName('ConfirmPassword')[0].value;

            if (password !== confirmPassword) {
                document.getElementsByName('ConfirmPassword')[0].setCustomValidity('Passwords must match.');
            } else {
                document.getElementsByName('ConfirmPassword')[0].setCustomValidity('');
            }

            form.classList.add('was-validated');
        }, false);
    });
</script>
